 <!-- Carousel Start-->
        <section id="carousel">
          <ul class="jcarousel-skin-opencart">
            <li><a href="#"><img src="image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#"><img src="image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#"><img src="image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#"><img src="image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#"><img src="image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#"><img src="image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
          </ul>
        </section>
        <!-- Carousel End-->
      </div>
      <div class="clear"></div>