<script type="text/javascript"><!--
  $(document).ready(function() {
    $('#slideshow').nivoSlider();
  });
--></script>

<!-- Nivo Slider Start -->
<section class="slider-wrapper">
  <div id="slideshow" class="nivoSlider">
   <a class="nivo-imageLink" href="#">
    <img src="image/slider/slide-1.jpg" alt="slide-1" />
   </a>

   <a class="nivo-imageLink" href="#">
    <img src="image/slider/slide-2.jpg" alt="slide-2" />
   </a> 

   <a class="nivo-imageLink" href="#">
    <img src="image/slider/slide-3.jpg" alt="slide-3" />
   </a> 
  </div>
</section><!-- Nivo Slider End-->